.header {
	max-width: 700px;
	padding: 0 25px;
	margin: 0 auto;
}

.contact {
	margin: 25px auto;
	box-shadow: #0000001a 0px 0px 5px 0px, #0000001a 0px 0px 1px 0px;
	padding: 50px 20px;
	border-radius: 10px;
	background-color: #fff;
}

.forms {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 20px auto;
}

.forms textarea {
	height: 100px;
	max-height: 100px;
	margin: 10px 0;
}

.forms input {
	margin: 10px 0;
}

.submit {
	display: flex;
	justify-content: end;
	max-width: 700px;
	margin: 0 auto;
}

.form-control:focus {
	border-color: #bc8f4b84;
	box-shadow: 0 0 0 0.25rem #bc8f4b34;
}
