.carousel-caption {
	font-family: var(--heading-font);
	position: absolute;
	text-align: center;
	bottom: 40%;
	padding: 0%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.carousel-caption h5 {
	font-size: clamp(20px, 4vw, 50px);
	/* Grows smoothly with screen */
	font-weight: bold;
}

.carousel-caption h6 {
	font-size: clamp(16px, 3vw, 35px);
}



.carousel-btn {
	border: 2px #f7bb60 solid;
	color: #f7bb60;
	font-size: clamp(14px, 2vw, 20px);
	padding: 7px 20px;
	font-family: var(--buttons-font);
	background-color: #f7bb6010;
	min-width: 170px;
}

.carousel-btn:active,
.carousel-btn:focus,
.carousel-btn:hover {
	border: 2px #f2bf73 solid;
	color: #f2bf73;
	transform: translateY(-3px);
	transition: ease-in-out 300ms;
	box-shadow: 0px 1px 5px 1px #bc8f4ba0;
	background-color: #f7bb6010;
}



.carousel-control-prev,
.carousel-control-next {
	width: 10%;
	background: linear-gradient(to right rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));
	transition: all 0.3s ease-in-out;
	border-radius: 5px;
}

.carousel-control-prev:hover {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.379), rgba(0, 0, 0, 0));
	box-shadow: -5px 0px 5px 0px #00000062;
}

.carousel-control-next:hover {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0));
	box-shadow: 5px 0px 5px 0px #00000062;
}
.section-w {
	max-width: 1300px;
	padding: 50px 0;
	margin: 0 auto;
}
.section-w h1 {
	font-family: var(--heading-font);
	font-weight: 600;
	color: #a67c52;
}

.scroll-container {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
	scroll-snap-type: x mandatory;
	justify-content: space-between;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}

.view-more {
	text-decoration: underline;
	color: rgba(47, 47, 47, 0.532);
}

.view-more:hover {
	color: rgb(47, 47, 47);
}

.scroll-item {
	padding: 5px;
	width: 250px;
	height: auto;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	text-align: start;
	margin-right: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}

.scroll-item:hover,
.scroll-item:active,
.scroll-item::after {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transform: translateY(-5px);
}

.title-price {
	text-align: start;
	font-family: var(--buttons-font);
	padding: 5px 10px;
}

.product-img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.news-title {
	text-transform: capitalize;
	font-weight: 600;
	text-align: start;
}

.price {
	text-align: start;
}

.discount-w {
	background: linear-gradient(
		180deg,
		rgba(245, 243, 238, 1) 0%,
		rgba(51, 51, 51, 1) 87%
	);
}

.cropped-section {
	clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
	position: relative;
	display: flex;
	justify-content: end;
	margin-top: 25px;
}

.discount-text {
	position: absolute;
	top: 40%;
	bottom: 40%;
	right: 20%;
	z-index: auto;
	font-family: var(--buttons-font);
}

.discount-img {
	width: 100%;
}

.discount {
	font-size: 50px;
	font-weight: 600;
	color: #d8b594;
	text-shadow: -2px 0px 9px #2c2c2c;
	font-size: clamp(20px, 4vw, 50px);
}

.UpTo {
	color: #f7bb60;
	text-shadow: -2px 0px 9px #2c2c2c;
	font-size: clamp(20px, 4vw, 50px);
}
