:root {
  --primary-color: #84796f;
  --secondary-color: #efdc90;
  --shadow: rgba(0, 0, 0, 0.331) 0px 0px 9px;
}
.cart {
  border: none;
  border-radius: 3px;
  background: none;
  color: #efdc90ee !important;
  box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 9px;
  
}
.cart:hover {
  color: #efdc90;
  border-color: #efdc90;
}
.logo {
  border-radius: 4px;
  width: 160px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 9px;
}
.custom-nav {
  background-color: #84796f;
}
 .custom-font {
  font: 25px "Times New Roman", serif;
  color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
  background-color: var(--primary-color);
}
