@font-face{
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Regular.ttf");
}
@font-face{
  font-family: 'lato';
  src: url("fonts/lato-regular.ttf");
}
@font-face{
  font-family: 'marcellus';
  src: url("fonts/marcellus-Regular.ttf");
}
body{
  background-color: #F5F3EE;
}

.custom-nav {
  background-color: #2c2c2c;
}
.nav-link {
  font-family: 'Playfair Display';
  color: #bc8e4b;
  font-size: 20px;
  font-weight: 600;

}
.nav-link:active,
.nav-link:focus,
.nav-link:hover,
.navbar-nav .nav-link.show {
  color: #f7bb60;
  transform: translateY(-3px);
  transition: ease-in-out 300ms;
}

.dropdown-toggle {
  color: #bc8e4b;
}
.custom-dropdown {
  background-color: #2c2c2c;
}
.dropdown-item {
  color: #bc8e4b;
}
.dropdown-item:hover {
  color: #f7bb60;
  background-color: #2c2c2c;
  border-radius: 5px;
  transform: translateY(-3px);
  transition: ease-in-out 300ms;
}

.navbar-toggler {
  border-color: #bc8e4b;
  color: #bc8e4b;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  box-shadow: 0px 1px 5px 1px #bc8f4ba0;
}
.carousel-caption {
  font-family: 'lato';
  position: absolute;
  text-align: center;
  bottom: 40%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
  
}
h5 {
  font-size: clamp(20px, 4vw, 50px); /* Grows smoothly with screen */
  font-weight: bold;
}

h6 {
  font-size: clamp(16px, 3vw, 35px);
}

.carousel-btn {
  border: 2px #f7bb60 solid;
  color: #f7bb60;
  font-size: clamp(14px, 2vw, 20px);
  padding: 7px 20px;
  font-family: 'marcellus';
  background-color: #f7bb6010;
  min-width: 170px;
}
.carousel-btn:active,
.carousel-btn:focus,
.carousel-btn:hover {
  border: 2px #f2bf73 solid;
  color: #f2bf73;
  transform: translateY(-3px);
  transition: ease-in-out 300ms;
  box-shadow: 0px 1px 5px 1px #bc8f4ba0;
  background-color: #f7bb6010;
}
h1{
  font-family: 'Playfair Display';
  font-weight: 600;
  color: #A67C52;

}
.carousel-control-prev,
.carousel-control-next {
    width: 10%; 
    background: linear-gradient(to right rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0));
    transition: all 0.3s ease-in-out;
    border-radius: 5px ;

}

.carousel-control-prev:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.379), rgba(0, 0, 0, 0));
    box-shadow: -5px 0px 5px 0px #00000062 ;
}

.carousel-control-next:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0));
    box-shadow: 5px 0px 5px 0px #00000062 ;
}
.card-link{
  text-decoration: none;
}
.card{
  transition: all 0.2s ease-in-out;
  padding: 5px;
  border-radius: 10px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-2px);
}
.card-img-top{
  border-radius: 10px;
}

.card-title{
  font-family: 'lato';
  font-size: x-large;
}

.card-text{
  font-family: 'marcellus';
}
.price{
  font-size: large;
  font-weight: 500;
  margin: 0 20px ;
}
footer{
  background-color: #333333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: #E0E0E0;
  padding: 20px;

}
footer a{
  color: #00ADB5;
}
footer a:hover{
  color: #FFD700;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


@media (min-width: 768px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translateY(-15px);
    visibility: hidden;
    transition: opacity 300ms ease, transform 300ms ease;
  }

  .nav-item.dropdown:hover .dropdown-menu,
  .nav-item.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
